@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    background-color: #ffffff;
}

.header {
    max-width: 100%;
    background-color: #ffffff;
}

.container {
    max-width: 1600px;
    margin: auto;
    padding: 20px;
}

.header-logo {
    color: #FF6347;
    font-size: 23px;
    font-weight: 600;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    transition: .20s;
}

.nav-link:hover {
    color: rgba(0, 0, 0, .5);
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-icon {
    font-size: 25px;
    transition: .20s;
    color: #000;
}

.social-icon:hover {
    color: rgba(0, 0, 0, .5);
}

.start {
    background-color: #FF6347;
    height: 80vh;
}

.start-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
}

.start-subtitle {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
}

.start-title {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    width: 750px;
    margin: 25px 0 35px;
}

.start-button {
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
}

.start-img {
    width: 50%;
}

.banners {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.first {
    background-color: #FDD835;
}

.second {
    background-color: #FF6347;
}

.third {
    background-color: #F9A825;
}

.banner {
    border-radius: 5px;
}

.banner-blocks {
    display: flex;
    align-items: center;
    gap: 150px;
}

.banner-text-block {
    padding: 50px;
}

.banner-title {
    color: #000;
    font-size: 35px;
    font-weight: 600;
    width: 400px;
    margin-bottom: 25px;
}

.banner-img {
    width: 550px;
}

.catalog {
    margin-top: 35px;
}

.catalog-title {
    color: #000;
    font-size: 35px;
    font-weight: 600;
}

.catalog-filters {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.catalog-filter {
    background-color: #F4ECEA;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 15px 35px;
    cursor: pointer;
}

.selected {
    background-color: #FF6347;
    color: #ffffff;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 50px;
    margin-top: 35px;
}

.product-img-block {
    background-color: #F4ECEA;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    height: 200px;
}

.product-img {
    display: block;
    margin: auto;
    width: 250px;
}

.product-text-block {
    margin-top: 15px;
}

.product-title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

.product-price {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.contact {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.contact-blocks {
    display: flex;
    align-items: flex-start;
    gap: 150px;
    flex-wrap: wrap;
}

.contact-title {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    width: 275px;
}

.contact-form-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

.contact-input {
    border-radius: 5px;
    background-color: #F4ECEA;
    padding: 25px;
    width: 400px;
    border: none;
    font-size: 15px;
}

.contact-input::placeholder {
    color: rgba(0, 0, 0, .35);
    font-size: 18px;
    font-weight: 600;
}

.contact-form-button {
    border-radius: 5px;
    background-color: #FF6347;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 15px;
}

iframe {
    width: 600px;
    max-width: 100%;
    height: 475px;
}

.footer {
    background-color: #F4ECEA;
    margin-top: 50px;
    padding: 25px;
}

.footer-blocks {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-title {
    color: #000;
    font-size: 25px;
    font-weight: 600;
}

.footer-sub-blocks {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.footer-sub-title {
    color: rgba(0, 0, 0, .5);
    font-size: 22px;
    font-weight: 600;
}

.footer-sub-desc {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}

.footer-copyright {
    margin-top: 25px;
    color: rgba(0, 0, 0, .5);
    font-size: 20px;
    font-weight: 600;
}

.burger-menu {
    display: none;
}

.burger-open {
    display: none;
}

.burger-close {
    display: none;
}

.burger-menu.active .burger-open {
    display: none;
}

.burger-menu.active .burger-close {
    display: none;
}

.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

@media (max-width: 1023px) {
    .start-blocks {
        flex-direction: column;
        margin-top: 100px;
    }

    .start-subtitle {
        text-align: center;
    }

    .start-title {
        font-size: 28px;
        margin: 15px 0 25px;
        text-align: center;
    }

    .start-button {
        display: block;
        margin: auto;
    }

    .start-img {
        width: 80%;
        margin-top: 50px;
    }

    .banner-blocks {
        flex-direction: column;
        gap: 50px;
    }

    .banner {
        margin-bottom: 50px;
        width: 650px;
    }

    .banner-title {
        width: 100%;
        text-align: center;
        font-size: 28px;
    }

    .banner-img {
        display: none;
    }

    .catalog-title {
        font-size: 28px;
    }

    .catalog-filters {
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 10px;
    }

    .catalog-filter {
        padding: 10px 25px;
        font-size: 16px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .product-img-block {
        width: 100%;
        height: 300px;
    }

    .product-img {
        width: 100%;
    }

    .product-title {
        font-size: 18px;
    }

    .product-price {
        font-size: 16px;
    }

    .contact-blocks {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .contact-title {
        width: 100%;
        text-align: center;
    }

    .contact-form-block {
        width: 100%;
    }

    .contact-input {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .footer-blocks {
        gap: 10px;
    }

    .footer-sub-blocks {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }

    .footer-sub-block {
        margin-top: 10px;
    }

    .page-blocks {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .start-title {
        width: 100%;
    }

    .start-img {
        width: 80%;
        margin-top: 35px;
    }

    .banner-blocks {
        gap: 50px;
    }

    .banner-text-block {
        padding: 25px;
    }

    .banner-title {
        font-size: 30px;
        width: 100%;
    }

    .banner-img {
        width: 100%;
        max-width: 450px;
    }

    .catalog-title {
        font-size: 30px;
    }

    .catalog-filters {
        flex-wrap: wrap;
        margin-top: 25px;
    }

    .catalog-filter {
        padding: 10px 20px;
        font-size: 16px;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-blocks {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .contact-title,
    .contact-input {
        width: 100%;
        max-width: 400px;
    }

    .contact-form-button {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 767px) {
    .start {
        padding-top: 50px;
    }

    .burger-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 2rem;
        transition: .3s;
    }

    .nav-list {
        display: none;
    }

    .burger-open {
        display: block;
    }

    .burger-menu.active .burger-close {
        display: block;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        gap: 25px;
        background-color: #ffffff;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 3;
        padding: 25px;
        opacity: 0;
        transform: translateY(-20px);
        transition: .3s;
    }

    .nav-list.active .nav-link {
        font-size: 22px;
        color: #000;
    }

    .nav-list.active.show {
        opacity: 1;
        transform: translateY(0);
    }

    .burger-menu.active {
        transform: rotate(-270deg);
    }

    .burger-menu.active ~ .nav-list {
        display: flex;
    }

    .start {
        height: 50vh;
    }

    .start-blocks {
        margin-top: 50px;
    }

    .start-subtitle {
        text-align: center;
    }

    .start-title {
        font-size: 24px;
        width: auto;
        text-align: center;
    }


    .start-button {
        display: block;
        margin: 15px auto auto;
    }

    .start-img {
        display: none;
    }

    .banner {
        width: 100%;
        margin-bottom: 20px;
    }

    .banner-blocks {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .banner-text-block {
        padding: 20px;
    }

    .banner-title {
        font-size: 28px;
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .banner-img {
        display: none;
    }

    .catalog-filters {
        flex-wrap: wrap;
        margin-top: 25px;
    }

    .catalog-filter {
        margin-bottom: 10px;
        width: 150px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 30px;
    }

    .product-img-block {
        width: 100%;
        height: 150px;
    }

    .product-img {
        width: 100%;
        height: auto;
    }

    .contact-blocks {
        flex-direction: column;
        gap: 50px;
    }

    .contact-form-block {
        align-items: center;
    }

    .contact-title {
        text-align: center;
        width: auto;
    }

    .contact-input {
        width: 100%;
    }

    .contact-form-button {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .footer-blocks {
        align-items: center;
    }

    .footer-title {
        text-align: center;
    }

    .footer-sub-blocks {
        display: grid;
        place-items: center;
        text-align: center;
        gap: 10px;
    }

    .footer-sub-title {
        font-size: 18px;
    }

    .footer-sub-desc {
        font-size: 16px;
    }

    .footer-copyright {
        text-align: center;
    }

    .page-blocks {
        display: flex;
        flex-direction: column;
        gap: 50px !important;
    }

    .page-text-block {
        text-align: center;
    }

    .page-desc {
        width: 525px !important;
        display: block;
        margin: auto;
        text-align: center;
    }

    .page {
        margin: 125px 0 110px !important;
    }
}

.page {
    margin: 175px 0 110px;
    display: flex;
    justify-content: center;
}

.page-blocks {
    display: flex;
    align-items: center;
    gap: 100px;
}

.page-img-block {
    background-color: #F4ECEA;
    padding: 50px;
    border-radius: 5px;
}

.page-title {
    color: #000;
    font-size: 35px;
    font-weight: 600;
}

.page-desc {
    color: rgba(0, 0, 0, .9);
    font-size: 18px;
    font-weight: 500;
    width: 600px;
    margin: 25px 0 15px;
}

.page-price {
    color: #000;
    font-size: 30px;
    font-weight: 600;
}

.page-button {
    border-radius: 5px;
    background-color: #FF6347;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 15px 35px;
    margin-top: 25px;
}

.footer-new {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}